<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>18/10/21 10:45:17</td>   <td>0</td> <td title="&gt;&gt;Report.startResult()[pri:0, instance:Wrappers.CreateLeads@4fe3c938]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 10:45:17</td>   <td>222</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLeads.testCaseDetails()[pri:0, instance:Wrappers.CreateLeads@4fe3c938]">&gt;&gt;testCaseDetails</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/21 10:45:17</td>   <td>866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Wrappers.CreateLeads@4fe3c938]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1669765145</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 10:45:42</td>   <td>25790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeads.createLeads(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Wrappers.CreateLeads@4fe3c938]">createLeads</td> 
  <td>TestNG-test=Test-1@1669765145</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/21 10:46:01</td>   <td>44749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:Wrappers.CreateLeads@4fe3c938]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1669765145</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/10/21 10:46:04</td>   <td>46927</td> <td title="&lt;&lt;Report.endResult()[pri:0, instance:Wrappers.CreateLeads@4fe3c938]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
</table>
